#div-finish h2{
    margin-top: 60px;
    margin-bottom: 0px;
    color: rgb(0, 34, 82);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#div-finish p{
    margin-bottom: 50px;
    margin-top: 0px;
    font-size: 14px;
    color: rgb(175, 175, 175);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#summary-details {
    width: 400px;
  background: rgb(247, 249, 253);
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  color: rgb(33, 72, 126);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.summary-plan,
.summary-addon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary-plan {
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.summary-addon {
  font-size: 1em;
}
.summary-addon #span1{
    color: rgb(170, 172, 175);
    font-size: 14px;
}
.summary-addon #span2{
    font-weight: bolder;
    color: rgb(17, 56, 111);
    font-size: 14px;
}
.change-button {
  background: none;
  border: none;
  color: #6a5acd;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.85rem;
  margin-left: 8px;
  padding: 0;
}

