#div-finish h2{
    margin-top: 60px;
    margin-bottom: 0px;
    color: rgb(0, 34, 82);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#div-finish p{
    margin-bottom: 50px;
    margin-top: 0px;
    font-size: 14px;
    color: rgb(175, 175, 175);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#summary-details {
  background: #f0f4ff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.summary-plan,
.summary-addon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary-plan {
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.summary-addon {
  color: #555;
  font-size: 1em;
}
