#div-haut h2{
    color: rgb(0, 31, 75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
    margin-top: 70px;
    /* font-size: 30px; */
}
#div-haut p{
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(151, 151, 151);
    font-size: 15px;
}
.rectangle{
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    border: 2px solid rgb(194, 194, 194);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.rectangle-txt h3{
    margin-bottom: 0px;
    color: rgb(0, 31, 75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rectangle-txt p{
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(151, 151, 151);
    font-size: 13px;
}
.rectangle-nbr{
    color: rgb(141, 102, 191);
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
}
.rectangle-nbr2{
    color: rgb(141, 102, 191);
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 130px;
}
.rectangle-nbr3{
    color: rgb(141, 102, 191);
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 80px;
    padding-right: 10px;
}
#div-btn2 button:hover{
    background-color:rgb(4, 54, 120);
};
.rectangle {
  transition: border-color 0.2s ease; /* transition douce */
}

.rectangle:hover {
  border-color: rgb(177, 145, 215); /* mauve au hover */
}
.rectangle.selected {
  background-color: rgb(230, 230, 230); /* fond gris clair quand sélectionné */
  border-color: rgb(177, 145, 215); /* bord mauve */
}
.rectangle-input input[type="checkbox"] {
  accent-color: rgb(177, 145, 215);
  cursor: pointer;
}